
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Pak Properties</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pro Property Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="~/css/bootStrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/swapbox.css">
<link href="~/css/Style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="~/css/font.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/////////////////////////////////-->
<link rel="stylesheet" href="~/css/swapBox.css">
<link rel="stylesheet" href="~/css/bootStrap.css">
<link rel="stylesheet" href="~/css/font.css">
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="images" href="~/images/2.jpg">
<link rel="images" href="~/images/3.jpg">
<link rel="images" href="~/images/4.jpg">
<link rel="images" href="~/images/5.jpg">
</head>

<body>
<!-- //property-grids -->
	<!-- /services -->
		<div class="services" id="services">
		 <div class="container">
			<h3 class="w3l_head">Our Services</h3>
			<p class="w3ls_head_para">What we do</p>

		 <div class="agileinfo-wthree-grid-info">


			<div class="col-md-5 serve-agile-wthree-text">
			<h4>Services Info</h4>
					<p>Our services go beyond just providing you with a property. We strive to offer a 
						comprehensive and seamless experience, catering to all your needs. 
						From personalized consultations to understand your preferences and requirements, 
						to expert guidance throughout the entire buying or renting process, we are here 
						to assist you every step of the way. Our dedicated team of professionals ensures 
						prompt and reliable service, ensuring that your satisfaction remains our top 
						priority. With our extensive network and access to a wide range of properties, 
						we can help you find the perfect home that suits your lifestyle and budget. 
						Trust us to provide you with exceptional service and make your property journey 
						a smooth and enjoyable one.</p>
			</div>
			<div class="col-md-7 agile_banner_bottom_grids">
						<div class="col-md-6 agile_banner_bottom_grid">
							<div class="agile_banner_bottom_grid1 hvr-rectangle-out">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

							</div>
						<h3>Sell Property</h3>
						<p>"Sell your property hassle-free and unlock new possibilities with our expert assistance."</p>
						</div>
						<div class="col-md-6 agile_banner_bottom_grid">
							<div class="agile_banner_bottom_grid1 hvr-rectangle-out">
								<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							</div>
							<h3>Buy Property</h3>
						<p>"Unlock the door to your dream home with our seamless property buying solutions."</p>
						</div>
						<div class="col-md-6 agile_banner_bottom_grid">
							<div class="agile_banner_bottom_grid1 hvr-rectangle-out">
								<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
							</div>
							<h3>Rent Property</h3>
						<p>"Find your perfect rental property and enjoy a comfortable living experience with us."</p>
						</div>
						<div class="col-md-6 agile_banner_bottom_grid">
							<div class="agile_banner_bottom_grid1 hvr-rectangle-out"><i class="fa fa-building" aria-hidden="true"></i>
								<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
							</div>
							<h3>Property Management</h3>
						<p>Efficient property management ensuring hassle-free ownership experience.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
			<div class="clearfix"></div>				
		</div>
	</div>
		</div>
<!-- //services -->


<!-- //footer -->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script src="~/js/jquery-2.2.3.min.js"></script> 
<!-- skills -->

						<script src="~/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
							 </script>
							 <!-- js -->
<!-- Starts-Number-Scroller-Animation-JavaScript -->
				<script src="~/js/waypoints.min.js"></script> 
				<script src="~/js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 20,
							time: 1000
						});
					});
				</script>

			<!-- //Starts-Number-Scroller-Animation-JavaScript -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
			<!--swipebox -->	
				<link rel="stylesheet" href="~/css/swapbox.css">
					<script src="~/js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
				<!--//swipebox Ends -->
<!-- //js -->
	<script src="~/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>