<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DirEngine - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <link rel="stylesheet" href="../css/managePropertyStyle/buttonStyle.css">
    <link rel="stylesheet" href="../css/managePropertyStyle/propertyDataStyle.css">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>


<!-- Start Footer --><!-- CSS FORM -->
<div class="con1">
  <div class="wood-f">
  <h1>AddProperty Form</h1>
  <form action="/ManageProperty/UpdateSocietyDataIndex" method="post" >

      <input type="text" name="Email" placeholder="YourEmail" required>
    <input type="text" name="Type" placeholder="Type" required>
    <input type="text" name="AreaSize" placeholder="Area" required>
    <input type="text" name="City" placeholder="City" >

    <input type="text" name="Address" placeholder="Address" required>

    <input type="reset" class="button reset">
    <!-- <input type="submit" value="Submit" class="button">  -->
    <div class="frame">
      <button class="custom-btn btn-4"><span>Submit</span></button>
      </div>
  </form>
  </div>
</div>

       <script src="../js/faqJS/main.js"></script>



  </body>
</html>