<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Venue - Responsive Web Template</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   

            <script src="../js/societyPriceRankJS/societyPriceRank.js"></script>

        
            <link rel="stylesheet" href="../css/societyPriceRankStyle/societyPriceRankStyle.css">

         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
         <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  


    <h2>Index</h2>
    @section styles{
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblStudent">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Location</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            bindDatatable();
        });

        function bindDatatable() {
            datatable = $('#tblStudent')
                .DataTable({
                    "sAjaxSource": "/Employee/GetData",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    },
                    "columns": [
                        {
                            "data": "Name",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "Position",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "Location",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "Age",
                            "autoWidth": true,
                            "searchable": true
                        }, {
                            "data": "StartDateString",
                            "autoWidth": true,
                            "searchable": true
                        }, {
                            "data": "Salary",
                            "autoWidth": true,
                            "searchable": true
                        },
                    ]
                });
        }




       
    </script>
}
</body>
</html>