<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pak Properties</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <link rel="stylesheet" href="../css/faqStyle/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../css/faqStyle/animate.css">

    <link rel="stylesheet" href="../css/faqStyle/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/faqStyle/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/faqStyle/magnific-popup.css">

    <link rel="stylesheet" href="../css/faqStyle/aos.css">

    <link rel="stylesheet" href="../css/faqStyle/ionicons.min.css">

    <link rel="stylesheet" href="../css/faqStyle/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../css/faqStyle/jquery.timepicker.css">


    <link rel="stylesheet" href="../css/faqStyle/flaticon.css">
    <link rel="stylesheet" href="../css/faqStyle/icomoon.css">
    <link rel="stylesheet" href="../css/faqStyle/style.css">
  </head>
  <body>



    <div class="hero-wrap js-fullheight" style="background-image: url('../images/d15.jpeg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col-md-6 ftco-animate img about-image" style="background-image: url(../images/faqImages/about.jpg);">
                </div>
                <div class="col-md-6 ftco-animate p-md-5">
                    <div class="row">
                  <div class="col-md-12 nav-link-wrap mb-5">
                    <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

                      <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

                      <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
                    </div>
                  </div>
                  <div class="col-md-12 d-flex align-items-center">

                    <div class="tab-content ftco-animate" id="v-pills-tabContent">

                      <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
                          <div>
                            <h2 class="mb-4">Offering Reliable Management</h2>
                                        <p>We provide comprehensive real estate solutions, including property buying, selling, renting, property management, and expert advice, ensuring a seamless and satisfying experience for our clients.</p>

                            </div>
                      </div>

                      <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                        <div>
                            <h2 class="mb-4">Exceptional Property Location</h2>
                                        <p>We strive to find extraordinary properties in sought-after locations that align with our clients' vision and enhance their lifestyle, making their dreams a reality. Our mission is to provide exceptional real estate options in prime locations that exceed expectations and inspire a new standard of living.</p>

                            </div>
                      </div>

                      <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
                        <div>
                            <h2 class="mb-4">Help Our Customer</h2>
                                        <p>We are committed to assisting our customers throughout their real estate journey, providing comprehensive support, expert advice, and personalized solutions to ensure a seamless and successful experience.</p>

                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-start mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate">
              <span class="subheading">FAQS</span>
            <h2 class="mb-4"><strong>Frequently</strong> Ask Question</h2>
          </div>
        </div>  
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div id="accordion">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="true" aria-controls="menuone">How do I start the process of buying a property? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menuone" class="collapse show">
                                  <div class="card-body">
                                            <p>To begin, you can browse our listings online, contact our agents, or visit our office for personalized assistance.</p>
                                  </div>
                                </div>
                              </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">What documents do I need to provide when applying for a home loan? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                    </div>
                                    <div id="menu5" class="collapse">
                                        <div class="card-body">
                                            <p>Typically, you'll need identification documents, proof of income, bank statements, and property-related documents.</p>
                                        </div>
                                    </div>
                                </div>


                              <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false" aria-controls="menutwo">Can I schedule a property viewing before making a decision? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menutwo" class="collapse">
                                  <div class="card-body">
                                            <p>Absolutely! We encourage our clients to schedule viewings to assess the property's suitability and make an informed decision.</p>
                                  </div>
                                </div>
                              </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">How can I sell my property through your agency? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                    </div>
                                    <div id="menu5" class="collapse">
                                        <div class="card-body">
                                            <p>You can get in touch with our sales team, who will guide you through the process, including property valuation, marketing, and negotiations.</p>
                                        </div>
                                    </div>
                                </div>


                              <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu3" aria-expanded="false" aria-controls="menu3"> Are there any additional costs besides the property price? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu3" class="collapse">
                                  <div class="card-body">
                                            <p>Yes, additional costs may include stamp duty, registration fees, legal fees, and agent commission. Our team can provide a breakdown of these costs.</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu4" aria-expanded="false" aria-controls="menu4">What is the average time it takes to find a rental property? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu4" class="collapse">
                                  <div class="card-body">
                                            <p>The timeframe can vary depending on availability and specific requirements. We strive to assist you in finding a suitable rental property as quickly as possible.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">Can I make renovations to a property I'm renting? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu5" class="collapse">
                                  <div class="card-body">
                                            <p>Any modifications or renovations to a rental property should be discussed and approved by the property owner or management as per the lease agreement.</p>
                                  </div>
                                </div>
                              </div>


                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">Do you offer property management services for rental properties? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                    </div>
                                    <div id="menu5" class="collapse">
                                        <div class="card-body">
                                            <p>Yes, we provide comprehensive property management services, including tenant screening, rent collection, maintenance coordination, and regular property inspections.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">What happens if there are issues with the property after purchase? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                    </div>
                                    <div id="menu5" class="collapse">
                                        <div class="card-body">
                                            <p>We provide post-purchase support and can assist in resolving any issues with the property or guide you on the appropriate steps to take.</p>
                                        </div>
                                    </div>
                                </div>


                              <div class="card">
                                <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#menu6" aria-expanded="false" aria-controls="menu6">How do I know if a neighborhood is suitable for my family? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
                                </div>
                                <div id="menu6" class="collapse">
                                  <div class="card-body">
                                            <p>We can provide you with information about the neighborhood, including schools, amenities, safety, and transportation options, helping you make an informed decision.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="../js/faqJS/jquery.min.js"></script>
  <script src="../js/faqJS/jquery-migrate-3.0.1.min.js"></script>
  <script src="../js/faqJS/popper.min.js"></script>
  <script src="../js/faqJS/bootstrap.min.js"></script>
  <script src="../js/faqJS/jquery.easing.1.3.js"></script>
  <script src="../js/faqJS/jquery.waypoints.min.js"></script>
  <script src="../js/faqJS/jquery.stellar.min.js"></script>
  <script src="../js/faqJS/owl.carousel.min.js"></script>
  <script src="../js/faqJS/jquery.magnific-popup.min.js"></script>
  <script src="../js/faqJS/aos.js"></script>
  <script src="../js/faqJS/jquery.animateNumber.min.js"></script>
  <script src="../js/faqJS/bootstrap-datepicker.js"></script>
  <script src="../js/faqJS/jquery.timepicker.min.js"></script>
  <script src="../js/faqJS/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="../js/faqJS/google-map.js"></script>
  <script src="../js/faqJS/main.js"></script>



  </body>
</html>