@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="../css/style11.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.css">
</head>
<body>
    <nav>

        <ul class="menu">
            <li><a href="/Home/HomeIndex" class="active">Home</a></li>
            <li><a href="/AboutUs/AboutUsIndex">About</a></li>
            <li><a href="/Contact/ContactUsIndex">Contact Us</a></li>
            <li><a href="/FAQ/FAQIndex">FAQ</a></li>

        </ul>

    </nav>
    <br />
    <br />
    @RenderBody()
</body>
</html>