<!DOCTYPE HTML>

<html>
	<head>
		<title>Update Property</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/managePropertyStyle/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Update Property</h1>
				<p>A small step for telling the world when you'll launch<br />
				your next big thing. Brought to you by you!!!</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="text" name="Property ID" id="email" placeholder="Property ID" />
				<input type="submit" value="Submit" />
			</form>



		<!-- Scripts -->
			<script src="../js/managePropertyJS/main.js"></script>

	</body>
</html>