
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Pro Property</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pro Property Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="~/css/bootStrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/swapbox.css">
<link href="~/css/Style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="~/css/font.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/////////////////////////////////-->
<link rel="stylesheet" href="~/css/swapBox.css">
<link rel="stylesheet" href="~/css/bootStrap.css">
<link rel="stylesheet" href="~/css/font.css">
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="images" href="~/images/2.jpg">
<link rel="images" href="~/images/3.jpg">
<link rel="images" href="~/images/4.jpg">
<link rel="images" href="~/images/5.jpg">
</head>
<body>
<!-- conatact -->
	<div class="contact" id="contact">
		<div class="container">
		<h3 class="w3l_head">Contact Us</h3>
		<p class="w3ls_head_para">Send us a message</p>
		 <div class="agileits_w3layouts_contact">
				<div class="w3_contact_grids">
					<form action="#" method="post">
						<span class="input input--jiro">
							<input class="input__field input__field--jiro" type="text" id="input-10" name="Name" placeholder="Your Name" required=""/>
							<label class="input__label input__label--jiro" for="input-10">
								<span class="input__label-content input__label-content--jiro">Your Name</span>
							</label>
						</span>
						<span class="input input--jiro">
							<input class="input__field input__field--jiro" type="econtact" id="input-11" name="Econtact" placeholder="Your Econtact Address" required=""/>
							<label class="input__label input__label--jiro" for="input-11">
								<span class="input__label-content input__label-content--jiro">Your Email</span>
							</label>
						</span>
						<span class="input input--jiro">
							<input class="input__field input__field--jiro" type="text" id="input-12" name="Phone Number" placeholder="Phone Number" required=""/>
							<label class="input__label input__label--jiro" for="input-12">
								<span class="input__label-content input__label-content--jiro">Phone Number</span>
							</label>
						</span>
						<textarea name="Message" placeholder="Your Message..." required=""></textarea>
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>

		</div>
	</div>
				<div class="agile-w3l-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57537.641430789925!2d-74.03215321337959!3d40.719122105634035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1456152197129" allowfullscreen=""></iframe>

			</div>
<!-- //contact -->


<!-- //footer -->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script src="~/js/jquery-2.2.3.min.js"></script> 
<!-- skills -->

						<script src="~/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
							 </script>
							 <!-- js -->
<!-- Starts-Number-Scroller-Animation-JavaScript -->
				<script src="~/js/waypoints.min.js"></script> 
				<script src="~/js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 20,
							time: 1000
						});
					});
				</script>

			<!-- //Starts-Number-Scroller-Animation-JavaScript -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
			<!--swipebox -->	
				<link rel="stylesheet" href="~/css/swapbox.css">
					<script src="~/js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
				<!--//swipebox Ends -->
<!-- //js -->
	<script src="~/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>