<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pak Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

    <link rel="stylesheet" href="../css/aboutUsStyle/bootstrap.min.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/animate.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/aos.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/jquery.timepicker.css">
    <link rel="stylesheet" href="../css/aboutUsStyle/fancybox.min.css">

    <link rel="stylesheet" href="../aboutUsFonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../aboutUsFonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="../css/aboutUsStyle/style.css">
</head>
<body>

    <header class="site-header js-site-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="index.html">Pak Properties</a></div>
                <div class="col-6 col-lg-8">


                    <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- END menu-toggle -->

                    <div class="site-navbar js-site-navbar">
                        <nav role="navigation">
                            <div class="container">
                                <div class="row full-height align-items-center">
                                    <div class="col-md-6 mx-auto">
                                        <ul class="list-unstyled menu">
                                            <li><a href="/Home/HomeIndex" class="active">Home</a></li>
                                            <li><a href="/AboutUs/AboutUsIndex">About</a></li>
                                            <li><a href="/Contact/ContactUsIndex">Contact Us</a></li>
                                            <li><a href="/FAQ/FAQIndex">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END head -->

    <section class="site-hero inner-page overlay" style="background-image: url(../images/d16.jpg)" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row site-hero-inner justify-content-center align-items-center">
                <div class="col-md-10 text-center" data-aos="fade">
                    <h1 class="heading mb-3">About Us</h1>
                    <ul class="custom-breadcrumbs mb-4">
                        <li><a href="index.html">Home</a></li>
                        <li>&bullet;</li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>

        <a class="mouse smoothscroll" href="#next">
            <div class="mouse-icon">
                <span class="mouse-wheel"></span>
            </div>
        </a>
    </section>
    <!-- END section -->

    <section class="py-5 bg-light" id="next">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
                    <figure class="img-absolute">
                        <img src="../images/aboutUsImages/food-1.jpg" alt="Free Website Template by Templateux" class="img-fluid">
                    </figure>
                    <img src="../images/aboutUsImages/img_1.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Welcome!</h2>
                    <p class="mb-4"> We are a dedicated team committed to providing exceptional service in the real estate industry. With our expertise and integrity, we aim to guide you through every step of your journey, ensuring your needs are met with personalized solutions. Whether you're a first-time buyer or an experienced investor, we are here to make your real estate experience smooth and rewarding. Thank you for choosing us, and we look forward to serving you with excellence.</p>
                    <p><a href="#" class="btn btn-primary text-white py-2 mr-3">Learn More</a> <span class="mr-3 font-family-serif"><em></em></span></p>
                </div>

            </div>
        </div>
    </section>

    <div class="container section">

        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7 mb-5">
                <h2 class="heading" data-aos="fade-up">Leadership</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/d18.jpg);">
                            <div class="box">
                                <h2>Neha Noveed</h2>
                                <p>President</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>Neha Noveed, the dedicated president, leads with unwavering commitment and inspires exceptional results. With her strategic leadership, Neha fosters a motivating environment where innovation thrives. The organization achieves remarkable success and makes a lasting impact under her guidance.</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../images/aboutUsImages/person_3.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Neha Noveed <span class="position">President</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>

            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="block-2">
                    <!-- .hover -->
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/aboutUsImages/person_1.jpg);">
                            <div class="box">
                                <h2>Aiza Naseer</h2>
                                <p>Business Manager</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>Aiza Naseer, the diligent Business Manager, is highly skilled and dedicated. Her strategic mindset and proactive nature drive innovation and keep the organization ahead of industry trends. As a respected leader, she sets a high standard for professionalism and performance, inspiring her team to excel.</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../images/aboutUsImages/person_1.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Aiza Naseer <span class="position">Business Manager</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>

            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/d17.jpg);">
                            <div class="box">
                                <h2>Rimsha Riaz</h2>
                                <p>Marketing Director</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>Rimsha Riaz, the accomplished Marketing Director, combines creativity and strategic thinking to propel the organization's success. Her deep understanding of market trends and consumer behavior allows her to develop impactful marketing strategies. She fosters a creative environment where innovative ideas flourish.</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../images/aboutUsImages/person_2.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Rimsha Riaz <span class="position">Marketing Director</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
        </div>
    </div>
    <!-- END .block-2 -->

    <section class="section slider-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">Photos</h2>
                    <p data-aos="fade-up" data-aos-delay="100">We are a dedicated team committed to providing exceptional service in the real estate industry. With our expertise and integrity, we aim to guide you through every step of your journey, ensuring your needs are met with personalized solutions. Whether you're a first-time buyer or an experienced investor, we are here to make your real estate experience smooth and rewarding. Thank you for choosing us, and we look forward to serving you with excellence.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-1.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-1.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-2.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-2.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-3.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-3.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-4.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-4.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-5.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-5.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-6.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-6.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        <div class="slider-item">
                            <a href="../images/aboutUsImages/slider-7.jpg" data-fancybox="images" data-caption="Caption for this image"><img src="images/slider-7.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </div>
                    </div>
                    <!-- END slider -->
                </div>

            </div>
        </div>
    </section>
    <!-- END section -->

    <div class="section">
        <div class="container">

            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7 mb-5">
                    <h2 class="heading" data-aos="fade">History</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="timeline-item" date-is='2021' data-aos="fade">
                        <h3>More Branches Worldwide</h3>
                        <p>With branches worldwide, Pak Property has established a strong presence in multiple countries and regions. Our global expansion strategy aims to provide comprehensive real estate services to clients across the globe. Whether you're in North America, Europe, Asia, or any other part of the world, our network of branches ensures that we have a local presence to cater to your real estate needs. With an in-depth understanding of diverse markets, we offer tailored solutions that align with regional preferences and market dynamics. Our international reach allows us to connect buyers, sellers, and investors on a global scale, facilitating seamless transactions and unlocking opportunities in various locations. At Pak Property, we are committed to delivering exceptional service and expertise, no matter where you are, as we help you navigate the world of real estate with confidence and success.</p>

                    </div>

                    <div class="timeline-item" date-is='2020' data-aos="fade">
                        <h3>Company Full Blast</h3>
                        <p>
                            We pride ourselves on being a dynamic and innovative organization dedicated to delivering top-notch services and solutions. With a passion for excellence, we go above and beyond to meet the needs of our clients and exceed their expectations. Whether it's providing cutting-edge technology solutions, offering unparalleled customer support, or executing large-scale projects, we always operate at full throttle. Our team of highly skilled professionals brings a wealth of expertise and a can-do attitude to every endeavor, ensuring that we deliver results that are nothing short of exceptional. We are committed to fostering strong partnerships, embracing new challenges, and continuously evolving to stay ahead in today's competitive market. With Full Blast Company, you can trust that your goals will be achieved with precision and efficiency, propelling your success to new heights.
                        </p>
                    </div>

                    <div class="timeline-item" date-is='2018' data-aos="fade">
                        <h3>The Birth of the Company</h3>
                        <p>
                            Pak Property was teh brainchild of two British-Pakistani entrepreneur friends, Neha Noveed and Aiza Naseer. Their mission was to make Pakistani real estate accessible and convenient for everyone. Together, they proceeded to lead Pak Property from a small start-up to teh premier real estate entity of Pakistan.

                            Pak Property started its funding first round in 2018 which constituted of several angel investors and substantial investment from venture capital firms. A further two rounds of major investment were closed in late 2019 and early 2020, bringing in a total of $29 million.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <section class="section bg-image overlay" style="background-image: url('../images/aboutUsImages/hero_4.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
                    <h2 class="text-white font-weight-bold">A Best Place To Invest. Check Now!</h2>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
                    <a href="reservation.html" class="btn btn-outline-white-primary py-3 text-white px-5">Check Now</a>
                </div>
            </div>
        </div>
    </section>



    <script src="../js/aboutUsJS/jquery-3.3.1.min.js"></script>
    <script src="../js/aboutUsJS/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/aboutUsJS/popper.min.js"></script>
    <script src="../js/aboutUsJS/bootstrap.min.js"></script>
    <script src="../js/aboutUsJS/owl.carousel.min.js"></script>
    <script src="../js/aboutUsJS/jquery.stellar.min.js"></script>
    <script src="../js/aboutUsJS/jquery.fancybox.min.js"></script>


    <script src="../js/aboutUsJS/aos.js"></script>

    <script src="../js/aboutUsJS/bootstrap-datepicker.js"></script>
    <script src="../js/aboutUsJS/jquery.timepicker.min.js"></script>



    <script src="../js/aboutUsJS/main.js"></script>
</body>
</html>