
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pro Property Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../css/bootStrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../css/swapbox.css">
<link href="../css/Style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="../css/font.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/////////////////////////////////-->
<link rel="stylesheet" href="../css/swapBox.css">
<link rel="stylesheet" href="../css/bootStrap.css">
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/StyleSheet.css">

</head>

<body>
<div class="main" id="home">
<!-- banner -->
	<div class="banner">
			<!--Slider-->


				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>

							<div class="slider-info">
									<h3>Pak Properties</h3>
							<p>Unlock Your Dream Property </p>
							</div>
						</li>



					</ul>

			<div class="clearfix"></div>
		</div>

	</div>
<!-- //banner -->
	</div>
<!-- header -->


<!-- //header -->
<!-- about -->
	<div class="about" id="about">
		<div class="container">
					<h3 class="w3l_head">PROPERTIES FOR SALE</h3>
					  <p class="w3ls_head_para">A few words about us</p>
						<div class="w3l-grids-about">
								<div class="col-md-5 w3ls-ab-right">
									<div class="agile-about-right-img">
										<img src="images/ab.jpg" alt="">
									</div>
								</div>
								<div class="col-md-7 w3ls-agile-left">
										<a href="/Login/LoginIndex" >Start As User |</a>
										<a href="/AdminLogin/AdminLoginIndex" >Start As Admin</a>								
								</div>
								<div class="clearfix"> </div>
							 </div>
			   </div>
		</div>
<!-- //about-bottom -->
<!-- /property-grids -->
<div class="property-grids">
	 <div class="agile-homes-w3l  grid">
				<div class="col-md-6 home-agile-left">
				   <figure class="effect-moses">
							<img src="../images/a1.jpg" alt="" />
							<figcaption>
								<h4>Pak Properties</h4>
						<p>Creating Serene Living Spaces</p>
							</figcaption>			
				</figure>

				</div>
				 <div class="col-md-6 home-agile-left">
						 <figure class="effect-moses">
							<img src="../images/a2.jpg" alt="" />
							<figcaption>
								<h4>Pak Properties</h4>
						<p>Your Gateway to Luxury Living</p>
							</figcaption>			
				</figure>
				</div>
				<div class="clearfix"></div>	
	 </div>
</div>


<!-- work -->
	<div class="work" id="work">
			<h3 class="w3l_head">Works</h3>
			<p class="w3ls_head_para">See Our Works</p>
			<div class="work-grids">
				<div class="work-grid">
					<a href="../images/9.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/9.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Dream Homes</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/4.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/4.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Cozy Abode</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/3.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/3.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Serene Residences</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/5.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/5.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Modern Living</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>

			<div class="work-grids two">
				<div class="work-grid">
					<a href="../images/2.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/2.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Urban Oasis</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/8.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/8.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Chic Dwellings</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/6.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/6.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Luxury Haven</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="work-grid">
					<a href="../images/7.jpg" class="b-link-stripe b-animate-go swipebox"  title="">
						<img src="../images/7.jpg" alt="" class="img-responsive"/>
						<div class="b-wrapper">
							<h4 class="b-animate b-from-left    b-delay03 ">
							<p>PAK PROPERTIES<span>Tranquil Retreat</span></p>
							</h4>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>

	</div>
<!-- //work -->


<!-- updates-bottom -->
	<div class="updates-bottom">
		<div class="container">
			<div class="col-md-3 w3_updates_bottom_grid">
				<div class="w3_updates_bottom_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<div class="w3_updates_bottom_grid_right">
					<p class="counter">1000</p> 
					<h3>Happy Clients</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 w3_updates_bottom_grid">
				<div class="w3_updates_bottom_grid_left">
					<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
				</div>
				<div class="w3_updates_bottom_grid_right">
					<p class="counter">700</p> 
					<h3>Products Level</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 w3_updates_bottom_grid">
				<div class="w3_updates_bottom_grid_left">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<div class="w3_updates_bottom_grid_right">
					<p class="counter">1000</p> 
					<h3>Likes</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 w3_updates_bottom_grid">
				<div class="w3_updates_bottom_grid_left">
					<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
				</div>
				<div class="w3_updates_bottom_grid_right">
					<p class="counter">1000</p> 
					<h3>Popularity</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
<!-- //updates-bottom -->

<!-- footer -->
	<div class="footer-bottom">
		<div class="container">
			<div class="w3agile_footer_grids">
				<div class="col-md-4 w3agile_footer_grid">
					<h3>About Us</h3>
					<p>
						At PAK PROPERTY, we are your trusted real estate partner, 
						dedicated to helping you find your dream property. 
						With personalized services and a seamless platform, 
						we make your real estate journey stress-free and enjoyable. 
						Trust us to guide you towards informed decisions and achieving 
						your goals</p>
				</div>

				<div class="col-md-4 w3agile_footer_grid">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>Lahore.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="contactto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+92-333-0000000</li>
					</ul>
				</div>
				<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
					<h3>Navigation</h3>
					<ul>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#about">About</a></li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#work">Works</a></li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#team">Agents</a></li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#contact">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="copy-right-social">
		<div class="container">
			<div class="copy-right">
				<p>&copy; 2017 Pro Property. All rights reserved | Design by Pak Properties</a></p>
			</div>
				
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script src="../js/jquery-2.2.3.min.js"></script> 
<!-- skills -->

						<script src="../js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
							 </script>
							 <!-- js -->
<!-- Starts-Number-Scroller-Animation-JavaScript -->
				<script src="../js/waypoints.min.js"></script> 
				<script src="../js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 20,
							time: 1000
						});
					});
				</script>

			<!-- //Starts-Number-Scroller-Animation-JavaScript -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
			<!--swipebox -->	
				<link rel="stylesheet" href="../css/swipebox.css">
					<script src="../js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
				<!--//swipebox Ends -->
<!-- //js -->
	<script src="../js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>