
<!DOCTYPE html>
<html lang="en">
<head>
<title>Pak Property</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pro Property Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link rel="stylesheet" href="../css/costStyle.css">


</head>

<body>
	<br>
<br>
<div class="sign-up-modal">
		<div id="close-modal-button">
		</div>

		<div class="logo-container">
			<h1>Area Calculator</h1>				
		</div>

		<form class="details">

				<div class="input-container">
						<input class="col-sm-5 username-input with-placeholder" id="area" type="text" placeholder="Area in Sq. Ft" />
				</div>
				<div class="input-container">
						<input class="col-sm-5 result-input with-placeholder" id="result" type="text" placeholder="Result" />
				</div>

				<input id="submit-button" type="submit" value="Submit">

		</form>
</div>
<script>
	$("#close-modal-button").click(function() {
		$(".sign-up-modal").fadeOut(200);
		$(".sign-up-modal").fadeIn(200);
});
</script>
</body>
</html>