


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pak Property</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Pro Property Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<link rel="stylesheet" href="../css/costStyle.css">


</head>

<body>
	<br>
	<br>
	<div class="sign-up-modal">


		<div class="logo-container">
			<h1>Constructions cost estimation</h1>
		</div>

		

		<h1>@ViewData["Message"]</h1>




	</div>
	<script>
		$("#close-modal-button").click(function () {
			$(".sign-up-modal").fadeOut(200);
			$(".sign-up-modal").fadeIn(200);
		});
	</script>
</body>
</html>

